<app-navbar></app-navbar>
<html>
<head>
    <meta charset="utf-8">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
        DECHAT_ES1A
    </title>
</head>
<body>
<div class="col-md-8 col-xs-8">
    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-book"></span> Click one contact to start or view a conversation!
    </div>
</div>
<div class="container-fluid nav_space">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading top-bar" style="background-color: #7C4DFF">
                    <div class="col-md-8 col-xs-8">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-book"></span> Contacts</h3>
                    </div>
                </div>
                <div class="list-group" >
                    <a *ngFor="let item of mi_listado_de_friends" class="list-group-item list-group-item-action"><button class="fas fa-user" (click)="initSelection(item)"></button>
                        {{item}}</a>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="chatbody">
                <div class="panel panel-primary">
                    <div class="panel-heading top-bar" style="background-color: #7C4DFF">
                        <div class="col-md-8 col-xs-8">
                            <h3 class="panel-title" id="receiver"><span class="glyphicon glyphicon-comment"></span></h3>
                        </div>
                    </div>
                    <div style="overflow-y: auto; height:350px;">

                    <div *ngFor="let message of messages">
                <div class="panel-body msg_container_base">
                        <div class="row msg_container base_sent">
                            <div class="col-md-10 col-xs-10">
                                <div class="messages msg_sent">
                                    <p>  <font size="3">{{message.content}} </font></p>
                                    <time datetime="2009-11-13T20:00">{{message.sender.webid}},  {{message.date}}</time>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2 avatar">
                                <img src="{{getProfilePicture(message.sender)}}"  onError="src='../../assets/images/profile.png'" class=" img-responsive " height="2x" width="2x">
                                <p align="center">  <font size="3"> {{getUserByUrl(message.sender)}} </font> </p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input class="form-control" maxlength="400" id="comment" placeholder="Write your message here..." style="overflow-y: auto; width:858px;"/>
                            <button class="btn btn-primary btn-sm"  id="btn-chat" (click)="write()"><i class="fa fa-send fa-1x" aria-hidden="true"></i></button>
                            <span class="input-group-btn"></span>
                        </div>
                    </div>
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>
