<nav class="topnav">
  <div class="logo">DeChat
    <i class="fab fa-earlybirds"></i>
  </div>
  <div class="menu-item">
    <div>
      <i class="far fa-compass"></i>
    </div>
    Menu Item 1
  </div>
  <div class="menu-item">
    <div>
      <i class="far fa-comment"></i>
    </div>
    CHAT
  </div>
  <div class="menu-item">
    <div>
      <a [routerLink]="['../components/friends']">
        <i class="fas fa-user-friends"></i>
      </a>
    </div>
      Friends
  </div>
  <div class="profile-menu">
    <div>
      <i class="fas fa-sign-out-alt" (click)="logout()"></i>
    </div>
  </div>
</nav>
