.container-fluid nav_space{
    margin-top:80px;
}
h1 {
    font-size: 24px;
    color: #7C4DFF;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: 1.2px;
    text-align: center;
    margin-top: 82px;
    text-transform: uppercase;
}
.grid-rows{
    max-width: 740px;
    min-height: 500px;
    margin: 0 auto;
    position: relative;
    font-size: 14px;
    color: #89969F;
    padding-left: 26px;
    padding-right: 10px;

}
.list-group{
    padding:  0.75rem 0 ;
    overflow-y: auto;
    white-space: nowrap;
}
.list-group-item{
    background-color: #F0EEEB;
    color: #7C4DFF;
}
