<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Friends</title>
</head>
<body>
<div class="container-fluid nav_space">
<div class="grid-rows">
    <div class="row">
    <div class="col-sm-4">
        <div class="list-group" >
            <a  *ngFor="let item of mi_listado_de_friends" href="{{item.url}}" class="list-group-item list-group-item-action">{{item.name}}</a>
<!--            <a  *ngFor="let file = fs; let item of mi_listado_de_friends" href="{{ }}" class="list-group-item list-group-item-action">{{file.createFolder(file.fileName(parseURL(RdfService.getSession()), item.name), )}}</a>-->
        </div>
    </div>
    <div  class="col-sm-8">

    </div>
</div>
</div>
</div>
</body>
</html>

